<%- include('../partials/header') %>
<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card eh-card p-4">
      <h3 class="mb-3"><%= typeof editEventId !== 'undefined' ? 'Edit Event' : 'Create New Event' %></h3>
      <form id="eventForm">
        <input type="hidden" id="editEventId" value="<%= typeof editEventId !== 'undefined' ? editEventId : '' %>" />
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" class="form-control" id="evTitle" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea class="form-control" id="evDescription" rows="3" required></textarea>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Category</label>
            <select class="form-select" id="evCategory">
              <option>General</option>
              <option>Tech</option>
              <option>Music</option>
              <option>Business</option>
              <option>Sports</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Capacity</label>
            <input type="number" class="form-control" id="evCapacity" min="1" required />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Date</label>
            <input type="date" class="form-control" id="evDate" required />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Time</label>
            <input type="time" class="form-control" id="evTime" required />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Location</label>
          <input type="text" class="form-control" id="evLocation" required />
        </div>
        <div id="eventFormAlert"></div>
        <button type="submit" class="btn eh-btn-primary w-100">Save Event</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/events.js"></script>
<script>
  $(function () { initEventForm(); });
</script>
<%- include('../partials/footer') %>
